.news-slider {
    margin: 1.25rem 0;
}

.news-slide {
    padding: 0.5rem;
    text-align: center;
}

.slide-thumb img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.slide-title {
    padding: 5px 10px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.splide__arrow {
    background: white;
    border: none;
}

.no-js-splide .splide__list {
    display: block;
}

.splide__pagination__page.is-active {
    background: #30453d;
    transform: scale(1.4);
    z-index: 1;
}